<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="df" />
            </rewriteMaps>
            <rules>
                <rule name="Imported rule 1" stopProcessing="true">
                    <match url="^app\.php(/(.*)|$)" />
                    <action type="Redirect" url="/{R:2}" />
                </rule>
                <rule name="Imported rule 2">
                    <match url=".?" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Imported rule 3">
                    <match url=".?" />
                    <action type="Rewrite" url="app.php/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
