
<div style="float:left; width:100%;">
	<p class="titleContentDescription" style="margin-top:30px;">
		<strong><a href="{{ path('tableReports', {'idBuilding':idBuilding, 'insertDB':'ok'} )}}">{%trans%} Weekly reports {%endtrans%}</a></strong>
	</p>
		
	{% for report in lastReports %}		
		<p style="font-size:11px; "> 	{{ report. period }} </p>
	{% endfor %}


	</p>
	
	
</div>