
$backgroundColorBody: #fff;
$backgroundColorHeader: #2e75b6;
$backgroundColorLeft: #e8eef8;
$backgroundColorButtonActive:#2e75b6;
$backgroundColorButtonDesactive:#dbdbdb;
$backgroundColorTableHeaderTemp:#eee;
$backgroundColorTableHeaderDays:#AEAAAA;
$backgroundColorTopRight:#e8eef8;

$fontColorWhite: #fff;
$fontColor2: #44546a;
$fontColor3: #626262;
$fontColor4: #2e75b6;

$font: 100% Arial, Verdana, sans-serif;