<div class="contentLogged">
	
	<img alt="user" title="User" class="userIcon" src="{{asset('bundles/optimus/img/User.png')}}" />
	
	<p class="nameUser" style=""> {{ app.user.name |capitalize }} </p> 
	
	<img alt="Logout" title="Logout" class="logoutIcon" src="{{asset('bundles/optimus/img/logout.png')}}" onclick="location.href='{{ path('logout') }}';" />
	
	
</div>